@use "../abstract" as *;

.btn {
  @extend %btn-reset;
  border-radius: 2.5rem;
  padding: 1px;
  background-image: $reverse-linear-gradient;
  transition:
  color ease-in-out .3s,
  background-color ease-in-out .3s,
  border-color ease-in-out .3s;
  
  &__content {
    display: inline-block;
    font-weight: 500;
    padding: 0.875rem 1.25rem;
    background-image: $linear-gradient;
    border-radius: 2.5rem;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.filled {
    color: $text-light-color;
    background-color: $secondary-color;
  
    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
      background-color: $text-light-color;
    }
  }

  &.outlined {
    border-color: $secondary-color;

    &:hover {
      color: $text-light-color;
      background-color: $secondary-color;
    }
  }

  &.danger {
    color: $text-light-color;
    background-color: $primary-color;
  
    &:hover {
      color: $primary-color;
      border-color: $primary-color;
      background-color: $text-light-color;
    }
  }

  &.success {
    color: $text-light-color;
    background-color: $alert-success-text;
  
    &:hover {
      color: $alert-success-text;
      border-color: $alert-success-text;
      background-color: $text-light-color;
    }
  }

  &.small {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }

  &.large {
    font-size: 1.125rem;
    padding: 0.875rem 1.25rem;
  }
}