@use "../abstract" as *;

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 28rem;
  margin: 0 auto;
  padding: 1.25rem;
  border: 1px solid #e0e0e0;
  border-radius: $border-radius;
  background-color: $text-light-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3125rem;
  }

  &__input {
    padding: 0.725rem 1rem;
    border: 1px solid #e0e0e0;
    border-radius: $border-radius;
  
    &:focus {
      border-color: $secondary-color;
      outline: none;
    }

    &::placeholder {
      color: $text-light-color;
    }
  }

  .btn {
    width: 100%;
  }

  &__link {
    color: $secondary-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
