@use "../abstract" as *;

.nav {
  padding: 1.5px;
  border-radius: 18.125rem;
  background-image: $reverse-linear-gradient;
  
  &__list {
    background-color: $nav-bg;
    border-radius: 18.125rem;
    padding: 0.375rem 1.5rem;
    padding-left: 0.25rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  &__link--home {
    display: flex;
    align-items: center;
    background-color: $nav-hightlight-color;
    border-radius: 18.125rem;
    padding: 0.5rem 1rem;
  }
}