@use "../abstract/variables" as *;

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: $space-xl;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    display: flex;

    > * {
      width: 100%;
    }
  }
}
