@use "../abstract" as *;

.header {
  padding: 2.85rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cta {
    display: flex;
    align-items: center;

    &__link {
      font-weight: 700;
      color: $secondary-color;
    }

    &__link.outlined {
      border: 1px solid $secondary-color;
      border-radius: $border-radius;
      padding: 0.725rem 1rem;
      transition: color $transition-ease $transition-duration, 
      background-color $transition-ease $transition-duration;

      &:hover {
        color: $text-light-color;
        background-color: $secondary-color;
      }
    }
  }
}